---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import PersonalImage from '~/assets/images/me.jpeg';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero Widget -->

  <Hero
    id="hero"
    title="Devien George"
    tagline="Personal Portfolio"
    actions={[
      {
        text: 'Download CV',
        href: '/resume.pdf',
        variant: 'primary',
        download: "Devien George CV - Full-Stack Developer",
      },
    ]}
  >
    <Fragment slot="subtitle">
      A Full-Stack passionate about creating softwares, apps and websites.
      <br />
      With 3 years of experience in building softwares
    </Fragment>
  </Hero>

  <!-- Content Widget -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/deviengeorge',
        },
        classes: {
          icon: "bg-blue-700",
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/deviengeorge',
        },
        classes: {
          icon: "bg-black",
        },
      },
      {
        icon: 'tabler:brand-x',
        callToAction: {
          target: '_blank',
          text: 'X ( Twitter )',
          href: 'https://x.com/devien_george',
        },
        classes: {
          icon: "bg-gray-800",
        },
      },
    ]}
    image={{
      src: PersonalImage,
      alt: 'Devien George Profile',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I’m a full-stack engineer who thrives on coding, caffeine, and turning ideas into apps and websites using PHP (Laravel) and NodeJS.
      </p>
      <br />
      <p>
        With <b>3 years of experience</b> (and counting), plus a side role teaching web dev, I’m all about making tech fun and functional!
      </p>
      <br />
      <p>
        If you're curious to dive deeper into my work,
        <b>you can follow me:</b>
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title: `
        Vue Front End Engineer
        <br />
        <span class="font-normal">Stallion AI ( Project Geminai )</span>
        <br />
        <span class="text-sm font-normal">June 2022 - Feb. 2023 ( Full Time )</span>
        `,
        // description: `My role involved guiding students through both foundational and advanced concepts, helping them build real-world projects, and preparing them for professional development careers. I enjoyed breaking down complex topics and seeing students grow into confident developers.`,
        icon: 'tabler:briefcase'
      },
      {
        title: `
        React & Angular Front End Engineer
        <br />
        <span class="font-normal">Etolv</span>
        <br />
        <span class="text-sm font-normal">Sep. 2021 - May 2022 ( Full Time )</span>
        `,
        // description: `My role involved guiding students through both foundational and advanced concepts, helping them build real-world projects, and preparing them for professional development careers. I enjoyed breaking down complex topics and seeing students grow into confident developers.`,
        icon: 'tabler:briefcase'
      },
      {
        title: `
        Web Instructor
        <br />
        <span class="font-normal">Senior Steps</span>
        <br />
        <span class="text-sm font-normal">Oct. 2021 - July 2022 ( Contract )</span>
        `,
        // description: `My role involved guiding students through both foundational and advanced concepts, helping them build real-world projects, and preparing them for professional development careers. I enjoyed breaking down complex topics and seeing students grow into confident developers.`,
        icon: 'tabler:briefcase'
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `
        Bachelor in Mathemathics & Computer Science
        <br />
        <span class="font-normal">Helwan University's Faculty Of Science</span>
        <br />
        <span class="text-sm font-normal">2019 - Still</span>
        `,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring ideas to life through software."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Proficiency in Frontend Frameworks',
        description: 'Ability to build dynamic, user-friendly interfaces using modern frameworks.',
      },
      {
        title: 'Backend Development',
        description: 'Expertise in building server-side logic, handling databases, and API development.',
      },
      {
        title: 'Database Management',
        description: 'Skilled in designing, querying, and optimizing relational and NoSQL databases.',
      },
      {
        title: 'Version Control',
        description: 'Experience with Git for managing code versions, collaboration, and project tracking.',
      },
      {
        title: 'RESTful API Design and Integration',
        description: 'Knowledge in designing, creating, and consuming RESTful APIs for communication.',
      },
      {
        title: 'Responsive Web Design',
        description: 'Ability to create websites that adapt to various devices and screen sizes seamlessly.',
      },
      {
        title: 'Deployment',
        description: 'Experience deploying applications, automating workflows.',
      },
      {
        title: 'Problem-Solving & Debugging',
        description: 'Strong skills in identifying, analyzing, and resolving issues in code and performance.',
      },
      {
        title: 'Cross-Browser Compatibility',
        description: 'Ability to ensure websites work seamlessly across all major web browsers.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content -->
  <!--   id="porfolio" -->
  <!--   hidden -->
  <!--   title="Elevating visual narratives" -->
  <!--   subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives." -->
  <!--   isReversed -->
  <!--   items={[ -->
  <!--     { -->
  <!--       title: 'Description:', -->
  <!--       description: -->
  <!--         'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.', -->
  <!--     }, -->
  <!--     { -->
  <!--       title: 'Role:', -->
  <!--       description: -->
  <!--         'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.', -->
  <!--     }, -->
  <!--   ]} -->
  <!--   image={{ -->
  <!--     src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80', -->
  <!--     alt: 'Tech Design Image', -->
  <!--   }} -->
  <!--   callToAction={{ -->
  <!--     target: '_blank', -->
  <!--     text: 'Go to the project', -->
  <!--     icon: 'tabler:chevron-right', -->
  <!--     href: '#', -->
  <!--   }} -->
  <!-- > -->
  <!--   <Fragment slot="content"> -->
  <!--     <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> -->
  <!--       Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span> -->
  <!--     </h3> -->
  <!--   </Fragment> -->
  <!---->
  <!--   <Fragment slot="bg"> -->
  <!--     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div> -->
  <!--   </Fragment> -->
  <!-- </Content> -->

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials -->
  <!--   title="Client testimonials" -->
  <!--   subtitle="Discover what clients have to say about their experiences working with me." -->
  <!--   testimonials={[ -->
  <!--     { -->
  <!--       testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`, -->
  <!--       name: 'Mark Thompson', -->
  <!--       job: 'Creative director', -->
  <!--       image: { -->
  <!--         src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80', -->
  <!--         alt: 'Mark Thompson Image', -->
  <!--       }, -->
  <!--     }, -->
  <!--     { -->
  <!--       testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`, -->
  <!--       name: 'Emily Martinez', -->
  <!--       job: 'CEO', -->
  <!--       image: { -->
  <!--         src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80', -->
  <!--         alt: 'Emily Martinez Image', -->
  <!--       }, -->
  <!--     }, -->
  <!--     { -->
  <!--       testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`, -->
  <!--       name: 'Laura Simmons', -->
  <!--       job: 'Founder of an NGO', -->
  <!--       image: { -->
  <!--         src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80', -->
  <!--         alt: 'Laura Simmons Image', -->
  <!--       }, -->
  <!--     }, -->
  <!--     { -->
  <!--       testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`, -->
  <!--       name: 'Alex Foster', -->
  <!--       job: 'Director of web services', -->
  <!--       image: { -->
  <!--         src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80', -->
  <!--         alt: 'Alex Foster Image', -->
  <!--       }, -->
  <!--     }, -->
  <!--     { -->
  <!--       testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`, -->
  <!--       name: 'Jessica Collins', -->
  <!--       job: 'Product Manager', -->
  <!--       image: { -->
  <!--         src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80', -->
  <!--         alt: 'Jessica Collins Image', -->
  <!--       }, -->
  <!--     }, -->
  <!--     { -->
  <!--       testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`, -->
  <!--       name: 'Michael Carter', -->
  <!--       job: 'Event Coordinator', -->
  <!--       image: { -->
  <!--         src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80', -->
  <!--         alt: 'Michael Carter Image', -->
  <!--       }, -->
  <!--     }, -->
  <!--   ]} -->
  <!-- /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your ideas into software?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: 'tel:201281089983',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts -->
  <!--   id="blog" -->
  <!--   title="Explore my insightful articles on my blog" -->
  <!--   information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`} -->
  <!-- > -->
  <!--   <Fragment slot="bg"> -->
  <!--     <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div> -->
  <!--   </Fragment> -->
  <!-- </BlogLatestPosts> -->
</Layout>
